.usp {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width:70vw;
    height: 20rem;
    background-color: brown;
}

.imge{
    margin: 1rem;
    background-color: beige;
    width: 20em;
    height: 18rem;
}