/*solomodel == sm*/
.solomodel_conteiner{ 
    display: flex;
}

.sm_article{
    display: flex;
}

.sm_content{
    justify-content: center;
    align-items: center;
    max-width: 45%;
    padding: 1em 10em 3em 1em;
}

.sm_avatar__conteiner{
    display: flex;
    align-items: center;;
    text-align: center;
    padding: 4% 4% 4% 19%;;
}

.sm_avatar__conteiner img{
    margin: 1rem;
    padding: .5rem;
    background-color: rgba(129, 9, 9, 0.219);
}

.sm_avatar__conteiner .buttonL{
    border-radius: 50% 0 0 50%;
    width: 3rem;
    height: 10rem;
}

.sm_avatar__conteiner .buttonR{
    border-radius: 0 100% 100% 0;
    width: 3rem;
    height: 10rem;
}

.sm_about{
    position: absolute;
    left: 60%;
    margin:2rem 0rem 0rem -13rem;;
}

.sm_aboutText{
    background-color: rgba(41, 26, 54, 0.699);
    border: 2px solid rgba(165, 42, 42, 0.664);
    border-radius: 14%;
    padding: 1.2rem;
    width: 24rem;
}
.sm_name{
    font-size:3rem;
    margin: 1rem;
    font-family: 'Seymour One';
    color: #9e0e0e;
}
.sm_about p{
    font-size: 1.1em;
    margin: .5em 0em;
}

.sm_midleConteiner{
    width: 200%;
    display: flex;
    flex-wrap: nowrap;
}

.sm_midleConteiner ul{
    flex-basis: 48%;
}

.sm_biography{
    font-size: 1.8em;
    list-style-type: none;
}

.sm_biography li{
    color: aliceblue;
    margin: 0.7em auto;
}

.sm_rating{
    margin: 1rem 0 3rem 0;
}