@import url('https://fonts.googleapis.com/css?family=Stalinist+One&display=swap');
.menu{
    list-style: none;
    animation: reduceBtnMenu 2s ease-in-out 1;
    animation-fill-mode: forwards; 
    position: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: stretch;
    justify-items: center;
    flex-wrap: nowrap;
    width: 19%;
    height: 100vh;
}

.menuItems{
    padding-top:6rem; 
    background-color:  rgba(41, 26, 54, 0.863);
    width: 100%;
}
.navBtn{
    height: 100vh; 
    background-color: rgb(245, 229, 229);
    text-align: center;
    width: 16rem;
    color :black;
    border: 1px solid black;
    clip: rect(0, 0, 0, 0);
    cursor: pointer;
}

.menuBtn{
    cursor: pointer;
    vertical-align: 3rem;
    border-bottom: 1px solid black;
    padding: 0 .5rem;
    margin-top: 3rem;
    font-size: 2.8rem;
    color: whitesmoke;
    height: 5rem; 
  
}

menu:hover{
animation: reduceBtnMenu 2s ease 2s 2 normal alternate;
}

label[for="navBtn"] {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

.navBtn:checked + label {
    left: 215px;
}
 
.navBtn:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

	
.navBtn + label, .site-wrap {
    transition: left 0.2s;
}

@keyframes reduceBtnMenu{
75% {left: -4%;}
50% {left: 0%;}
100%{left: 0%}
}
