@import url('https://fonts.googleapis.com/css?family=Stalinist+One&display=swap');
.menu{
    list-style: none;
    position: fixed;
}

.personal{
    margin-bottom: 5vh;
}

.personal img{
    margin: auto;
    display: block;
    width: 9vw;
    height: 6vw;
    border-radius: 60% 60%;
}

.personal form{
    margin: 2vh auto;
    text-align: center;
    max-width: 12vw;
}

.personal>div{
    text-align: center;
}

.personal>div>a{
    left: 3vw;
    font-size: .9rem;
}

.personal>div>button{
    color: rgb(187, 174, 158);
    background-color:  rgb(26, 14, 36);
    border: 1px solid rgb(28, 11, 43);;
    width: 4vw;
    margin: auto 2vw;
}
.menuItems{
    position: relative;
    bottom: 2.5vh;
    left: -16vw;
    padding-top:3rem; 
    background-color:  rgba(41, 26, 54, 0.952);
    width: 15vw;
    height:65.5vh;
    border-radius: 0 2% 2% 0;
    border: 4px solid rgb(34, 20, 46);
}

.menuBtn{
    margin-left: .5vw;
    cursor: pointer;
    vertical-align: 1rem;
    border-bottom: 1px solid black;
    padding: 1rem 2vh 0 2vh;
    font-size: 2vw;
    color: whitesmoke;  
}

.nav-trigger{
    position: absolute;
    transition: all 1s ease 0s;
    background-color: rgb(245, 229, 229);
    color :black;
    border: 1px solid black;
    clip: rect(0, 0, 0, 0);
    cursor: pointer;
}


label[for="nav-trigger"] {
    border: 4px solid rgb(34, 20, 46);
    z-index: 5;
    position: fixed;
    top:2vh;
    width: 4vw;
    height: 8vh;
    background-color: rgba(41, 26, 54, 0.918);
    background-size: contain;
    border-radius: 25%;
}

.nav-trigger:checked + label, ul {
    transition: all .4s ease 0s;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    border: none;
    left: 15vw;
}
 
.iconer{
    animation: blink 5s 1;
    position: absolute;
    text-align: center;
    margin: -1vh .45vw;
    font-size: 3em;
}

.menuBtn:hover{
    transition: all .4s ease 0s;
    color: rgb(231, 248, 136);
    font-size: 2.5rem;
}

@keyframes blink{
    50%{
       color: rgb(234, 241, 241);
    }
    50%{
        color:rgb(243, 158, 158);
    }
    100%{
        color:rgb(234, 241, 241);
    
    }
}