.menu{
    width: 100vw;
    display: flex;
    .menu_title{
        flex-grow: 12;
    }
    .menu_btn{
        flex-grow: 2;
        display:flex;
        flex-flow: row nowrap;
    }
    .menu_userIcon{
        flex-grow: 1;
    }
}



