.menu{
    width: 100vw;
    height: 8vh;
    display: flex;
   .menu_title{
       flex-grow: 8;
   }
   .menu_bar{
       display: flex;
       flex-flow: row nowrap;
       height: 100%;
       .menu_btn{
        height: 7vh;
        margin: 1vh;
       }
   }
}



