.prise_conteiner{
    display: flex;
    width: 15em;
}
.prise{
    font-size: .7em;
    margin: auto 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.prise_img{
    margin: auto;
}