$primary-color: #005f8f;
$second-color: #395969;
@media (max-width: 425px) {
    .initialForm {
        width: 300px;
    }
}

@media (min-width: 426px) {
    .initialForm {
        width: 400px;
    }
}

@media (min-width: 501px) {
    .initialForm {
        width: 500px;
    }
}

.initialForm {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
}

.initialForm_sub {
    height: 60vh;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    .form {
        margin-top: 3vh;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: space-between;
        .initialForm_input {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
    }
    .initialForm_error {
        height: 5vh;
        p {
            text-align: center;
            margin: auto;
        }
    }
    .initialForm_button {
        width: 80%;
        margin: auto;
    }
}

.initialForm_type {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
}

.initialForm_type div {
    cursor: pointer;
    background-color: #607d8b;
    flex: auto 1 1;
    text-align: center;
    border-radius: 9px;
    border-top: 1px solid gray;
}

.initialForm_danger {
    padding: 0.2rem 0;
}

.initialForm_sub p {
    animation: danger 2s linear;
}

@keyframes danger {
    0% {
        opacity: 0.5;
        color: red;
    }
    25% {
        opacity: 1;
        color: black;
    }
    50% {
        opacity: 1;
        color: red;
    }
    100% {
        opacity: 0.5;
        color: black;
    }
}