@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);

*{
    box-sizing: border-box;
    border-collapse: separate;
    font-family: roboto;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.1rem;
    font-family: roboto;
    color: black;
    background-color: rgb(11, 11, 19);
}

