$primary-color: rgb(149, 156, 146);
$second-color: rgb(52, 52, 65);

.messager {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  height: 100vh;
  .contactPanel {
    width: 25vw;
    min-width: 200px;
    height: 80vh;
    margin: auto;
    background-color: $primary-color;
    border-right: 2px solid $second-color;
    
  }
  .chat_conteiner {
    margin: auto;
    width: 75vw;
    height: 80vh;
    background-color: $primary-color;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    h1 {
      margin: 1rem;
      color: white;
      text-shadow: black 1px 2px 2px;
    }
    .chat_messages__canvas {
      background-color: $second-color;
      overflow-y: auto;
      width: 98%;
      height: 75%;
    }
    .input_message {
      width: 90%;
      margin: 1rem auto;
    }
  }
  .message_chat {
    background: rgb(128, 141, 144);
    background: -moz-linear-gradient(90deg, rgba(128, 141, 144, 1) 14%, rgba(167, 179, 182, 0.30885857761073177) 100%);
    background: -webkit-linear-gradient(
      90deg,
      rgba(128, 141, 144, 1) 14%,
      rgba(167, 179, 182, 0.30885857761073177) 100%
    );
    background: linear-gradient(90deg, rgba(128, 141, 144, 1) 14%, rgba(167, 179, 182, 0.30885857761073177) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#808d90",endColorstr="#a7b3b6",GradientType=1);
    padding: 0.8rem;
    margin: 0.3rem;
    width: 80%;
    border-radius: 3px;
    p {
      word-wrap: break-word;
    }
  }
}
.searchResult {
  width: 98%;
  height: 60vh;
  background-color: $second-color;
  margin: auto;
  overflow-y: scroll;
}

.notifics{
  display: flexbox;
  position: absolute;
  right: 0.2rem;
}
