$primary-color: #607d8b;
$second-color: #b2dfdb;
@mixin animation($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  animation: $property;
}
.messager {
  display: flex;
  flex-flow: row nowrap;
  max-height: 100vh;

  .contactPanel {
    width: 100%;
    max-width: 20vw;
    height: 90vh;
    background-color: $primary-color;
    border-right: 2px solid $second-color;
    padding-top: 1rem;
  }
  .chat_conteiner {
    width: 100%;
    min-width: 80vw;
    height: 90vh;
    background-color: $primary-color;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    h1 {
      margin: 2rem;
      color: white;
      text-shadow: black 1px 2px 2px;
    }
    .chat_messages__canvas {
      background-color: $second-color;
      overflow-y: auto;
      padding-top: 1rem;
      width: 96%;
      height: 75%;
    }
    .input_message {
      width: 90%;
      margin: 1rem auto;
    }
  }
  .message_chat {
    background: rgb(128, 141, 144);
    background: -moz-linear-gradient(90deg, rgba(128, 141, 144, 1) 14%, rgba(167, 179, 182, 0.30885857761073177) 100%);
    background: -webkit-linear-gradient(
      90deg,
      rgba(128, 141, 144, 1) 14%,
      rgba(167, 179, 182, 0.30885857761073177) 100%
    );
    background: linear-gradient(90deg, rgba(128, 141, 144, 1) 14%, rgba(167, 179, 182, 0.30885857761073177) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#808d90",endColorstr="#a7b3b6",GradientType=1);
    padding: 0.8rem;
    margin: 0.3rem;
    width: 80%;
    border-radius: 3px;
    p {
      word-wrap: break-word;
    }
  }
}
.searchResult {
  width: 90%;
  height: 75vh;
  background-color: $second-color;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.notifics {
  display: flexbox;
  position: absolute;
  right: 0.2rem;
}

.chat_head {
  display: flex;
  flex-flow: row nowrap;
  left: 0rem;
  justify-self: left;
  align-self: flex-start;
  z-index: 3;
  height: 13%;
  margin: 0.5rem;
  img {
    width: 7rem;
    height: 7rem;
  }
  h3 {
    margin-left: 1rem;
    align-self: center;
  }
}
.unvisiblePanel {
  @include animation(contactPanel 1s ease-in-out 0.5s alternate)
}

.visiblePanel {
  @include animation(contactPanel 1s ease-in-out 0.5s reverse)
}

@keyframes contactPanel {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
