$primary-color: #607d8b;
$second-color: #b2dfdb;
@mixin animation($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  animation: $property;
}

@media (max-width: 579px) {
  .chat_head {
    justify-content: flex-end;
    margin-right: 4vw;
  }
}

@media (min-width: 580px) {
  .chat_head {
    justify-content: center;
  }
}

.messager {
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

.notification_conteiner{
  position: fixed;
  right: 4vw;
  top: 10vh;
  z-index: 100;
  display: flex;
  flex-flow: column nowrap;
}
.chat_conteiner {
  z-index: 50;
  width: 100%;
  flex-grow: 4;
  height: 82vh;
  display: flex;
  flex-flow: column nowrap;
  .chat_head {
    height: 12vh;
    display: flex;
    flex-flow: row nowrap;
    img {
      width: 10vh;
      height: 10vh;
      margin: auto 0;
    }
    h3{
      margin: auto 1rem;
    }
  }
}
.chat_messages {

  width: 100%;
  height: 60vh;
  margin: 0 auto;
}
.chat_messages__canvas {
  overflow-y: auto;
  margin: 0 auto;
  background-color: grey;
  width: 90%;
  height: 61vh;
  border: 1px solid rgb(196, 191, 191);
  border-radius: 9px 9px 0 0;
}

.avatar {
  border-radius: 100px;
}
.chat_input__conteiner {
  margin: auto;
  width: 90%;
  .chat_input {
    width: 100%;
    background-color: rgba(145, 138, 201, 0.603);
  }
}

.contactPanel {
  background-color: $primary-color;
  height: 82vh;
  .contactPanel_navigation__conteiner{
    margin:2vh 0 auto;
    .contactPanel_navigation{
      
      .contactPanel_navigation__elem{
        box-shadow:  0 0 10px rgba(0,0,0,0.5);
      }
    }
  }
}

.searchResult{
  height: 68vh;
  overflow-y: auto;
  -ms-overflow-style: none;
}

.searchResult::-webkit-scrollbar {
  display: none;
}

.visiblePanel{
  width: 300px;
  animation: showPanel 500ms 0s ease-in ;
}

.unvisiblePanel{
  width: 0;
  animation: hidenPanel 500ms 0s ease-out ;
  opacity: 0;
}


@keyframes hidenPanel{
  from{
    width:300px
  }
  to{
    width: 1px;
    opacity: 0;
  }
}

@keyframes showPanel{
  from{
    width:1px
  }
  to{
    width: 300px;
    opacity: 1;
  }
}