@media (max-width: 1124px){

}

@media (max-width: 669px){

}

.diagram{
    margin: .5rem  auto;
    padding: 1rem;
    border: 1px inset tomato;
    max-width: 80%;
    flex: 1  1 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: baseline;
}


.diagram>div{
    margin: 2rem auto;
    margin: auto;
}
.diagram h3{
    text-align: center;
}
.diagram_content{
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.diagram_numOf{
    text-align: center;
    font-size: 3rem;
    width: 5rem;
}

.diagram_row{
    min-width: 30vw;
    font-size: 1.7rem;
    background: rgb(53,86,125);
    background: -moz-linear-gradient(90deg, rgba(53,86,125,1) 13%, rgba(32,133,230,1) 53%, rgba(14,160,190,1) 81%);
    background: -webkit-linear-gradient(90deg, rgba(53,86,125,1) 13%, rgba(32,133,230,1) 53%, rgba(14,160,190,1) 81%);
    background: linear-gradient(90deg, rgba(53,86,125,1) 13%, rgba(32,133,230,1) 53%, rgba(14,160,190,1) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#35567d",endColorstr="#0ea0be",GradientType=1);
    
}

.diagram_row__percent{
    text-align: center;
}

.diagram_percent{
    height: 2rem;
    position: relative;
    border: 1px solid black;
    background-color: #f20;
}
.diagram_percent div{
    top: 1%;
    left: 9vw;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.diagram_numOfCase{
    margin-left: 1rem;
    text-align: left;
    font-size: 1.7rem;
    min-width: 15rem;
    max-width: 20rem;
}

.diagram_statistick{
    font-size: 1rem;
    line-height: 2rem;
}