.diagram{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.diagram>div{
    margin: 5rem 0 0 2rem;
}
.diagram h3{
    text-align: center;
}
.diagram_content{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: scretch;
}
.diagram_numOf{
    font-size: 5rem;
    display: block;
    width: 10rem;
    text-align: center;
}

.diagram_row{
    font-size: 1.7rem;
    width: 30vw;
    background: rgb(53,86,125);
    background: -moz-linear-gradient(90deg, rgba(53,86,125,1) 13%, rgba(32,133,230,1) 53%, rgba(14,160,190,1) 81%);
    background: -webkit-linear-gradient(90deg, rgba(53,86,125,1) 13%, rgba(32,133,230,1) 53%, rgba(14,160,190,1) 81%);
    background: linear-gradient(90deg, rgba(53,86,125,1) 13%, rgba(32,133,230,1) 53%, rgba(14,160,190,1) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#35567d",endColorstr="#0ea0be",GradientType=1);
    
}


.diagram_percent{
    height: 2rem;
    position: relative;
    border: 1px solid black;
    background-color: #f20;
}
.diagram_percent div{
    top: 1%;
    left: 11vw;
    position: absolute;
    text-align: center;
    z-index: 3;
}

.diagram_numOfCase{
    margin-left: 1rem;
    text-align: left;
    font-size: 1.7rem;
    width: 15rem;
}

