/*f==fighter*/

@media (max-width: 1124px){
    .f_infoConteiner h2{
        color: blue;
        text-align: center;
    }
    .f_second img{
        max-width: 60vw;
        margin: 0 0;
    }
}

@media (max-width: 669px){
    .f_infoConteiner h2{
        color: red;
        text-align: center;
    }
      .f_second img{
        margin: auto;
        max-width: 70vw;
    }
    :root{
        font-size: .7rem;
    }
}


.fighterPage{
    background: rgb(11,11,18);
    background: linear-gradient(90deg, rgba(11,11,18,1) 2%, rgba(26,28,31,1) 21%, rgba(0,0,0,1) 63%, rgba(25,26,27,1) 88%, rgba(34,36,37,1) 100%);
    color:wheat;
    display: flex;
    flex-flow: column nowrap;
}

.f_content{
    width: 100%;
}

.f_first{
    padding-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content:space-around;
    background-image: url('../../imgElements/zigzagwool.png');
    background-size: contain;
    border-bottom: 1px solid gray;

}

.f_first__avatar img{
    align-self: flex-end;
    max-width: 90vw;
}


.f_infoConteiner{
    display: flex;
    flex-flow: column wrap;
}

.f_infoConteiner h2{
    margin:0  1rem;
    font-size: 2rem;
}

.f_infoConteiner__block{
    display: flex;
    flex-flow: row wrap;
}

.f_parametrs{
    margin: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;   
}

.f_second{
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: last baseline;
}

.f_second img{
    justify-self: start;
    align-self: center;
    max-width: 40vw;
    margin: 2rem auto;
    box-shadow: rgb(26, 17, 26) 3px 2px;
}


.f_sidebar{
    border-left: 1px solid black;
    background-image: url('../../imgElements/carbon_fibre/carbon_fibre.png');
}
.f_fsb__conteiner{
    background: green;
    display: flex;
    width: 30px;
}
