/*f==fighter*/


.fighterPage{
    background: rgb(11,11,18);
    background: linear-gradient(90deg, rgba(11,11,18,1) 2%, rgba(26,28,31,1) 21%, rgba(0,0,0,1) 63%, rgba(25,26,27,1) 88%, rgba(34,36,37,1) 100%);
    color:wheat;
    display: flex;
    justify-content: space-between;
}

.f_content{
    min-width: 80vw;
}

.f_first{
    padding-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    width: 105%;
    align-items: center;
    justify-content:space-around;
    background-image: url('../../imgElements/zigzagwool.png');
    background-size: contain;
    border-bottom: 1px solid gray;

}

.f_first__avatar img{
    align-self: flex-end;
    max-width: 90vw;
}


.f_infoConteiner{
    display: flex;
    flex-flow: column wrap;
}

.f_infoConteiner h2{
    margin:0  1rem;
    font-size: 2rem;
    color:white;
}

.f_infoConteiner__block{
    display: flex;
    flex-flow: row wrap;
}

.f_parametrs{
    margin: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;   
}

.f_second{
    display: flex;
    justify-content: flex-start;
}

.f_second img{
    margin-left: -5rem;
    justify-self: start;
    align-self: center;
    width: 40rem;
    margin-top: 2rem;
    box-shadow: rgb(26, 17, 26) 3px 2px;
}


.f_sidebar{
    position: relative;
    border-left: 1px solid black;
    background-image: url('../../imgElements/carbon_fibre/carbon_fibre.png');
    width: 18vw;
    margin-left: 2rem;
}

.TEST{
    background-color: red !important;
    border: 3px solid black !important;
}