/*navigationPanel == np*/

.navigationPanel{
    top: 4em;
    right: 0;
    position: absolute;
    opacity: .6;
}

.np_img{
    width: 2em;
    margin-right: 1em;
    
}

.np_content{

}

.np_input__bg{
    border-radius: 10% 0 0 0;
    display: inline-flex;
    background-color: #9e0e0e;
    padding: 1em;
   
}

.np_input{
    border: .5px inset blue;
   font-size: 1.2em;
}

.np_result{
    text-transform: capitalize;
    font-size: 1em;
    color: #9e0e0e;
}

.np_resultObj{
    background-color: gold;
    border: 1px solid ;
    padding : 0.5em;
}

.navigationPanel:hover{
    opacity: 1;
}

