/**photoCollage == pc*/

.photoCollage{
    margin-top: 5rem;
    max-width: 50%;
    display: flex;
}

.pc_conteinerMiniPhoto{
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
}
.pc_miniPhoto{
    width: 15rem;
    max-height: 20rem;
    margin: -10rem 0rem 11rem -3.5rem;
    border: 0.4px solid  #340e9e; 
}
.pc_bigPhoto{
    border: 0.4px solid   #9e0e0e;
    margin-left: 2em;
    margin-right: -150%;
    width: 35em;
    height: 50em;

}
.risePhoto_BG{
    top: 5%;
    left: 30%;
    position: fixed;
    z-index: 10;

}
.risePhoto{
    position: fixed;
    left: 18%;
    bottom: 10%;
    padding: auto;
    height: 40rem;
    background-color: #383a1d7e;
} 