.sb{
    width: 13rem;
    right: 1rem;
    margin: auto;
    height: 40rem;
    background-color: rgba(128, 128, 128, 0.404);
    position: fixed;
    text-align: center;
}

.sb_blockFighter{
    margin-bottom: 1rem;
}

.sb_blockFighter img{
    width: 100%;
    background-color: rgba(33, 109, 145, 0.356)
}

.sb_searchBar{
    margin-bottom: 2rem;
    padding: 3rem 0;
    background: rgb(110,16,16);
    background: linear-gradient(0deg, rgba(110,16,16,1) 10%, rgba(140,27,5,1) 50%, rgba(230,48,32,1) 90%);
}

.sb_searchBar input{
    font-size: 1rem;
    height: 1.5rem;
}

.sb_blockFighter img:hover{
    background-color: rgba(33, 110, 145, 0.945)
}