.sb {
    width: 100vw;
    border: 1px solid red;
}

.sb_blockFighter {
    padding: 1rem;
}

.sb_blockFighter img {
    width: 10rem;
    background-color: rgba(33, 109, 145, 0.356)
}

.sb_searchBar {
    flex-grow: 1;
    border: 1px solid yellow;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
    background: rgb(14, 28, 31);
    background: rgb(26, 53, 59);
    background: -moz-linear-gradient(0deg, rgba(26, 53, 59, 1) 13%, rgba(31, 57, 64, 1) 53%, rgba(44, 78, 85, 1) 81%);
    background: -webkit-linear-gradient(0deg, rgba(26, 53, 59, 1) 13%, rgba(31, 57, 64, 1) 53%, rgba(44, 78, 85, 1) 81%);
    background: linear-gradient(0deg, rgba(26, 53, 59, 1) 13%, rgba(31, 57, 64, 1) 53%, rgba(44, 78, 85, 1) 81%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1a353b", endColorstr="#2c4e55", GradientType=1);
    border-bottom: 1px solid grey;
}

.sb_searchBar button {
    height: 60%;
    max-width: 90%;
    margin: 5%;
    border-radius: 4px;
    border: 1px solid gray;
    text-transform: uppercase;
}

.sb_searchBar input {
    padding: auto;
    font-size: 1rem;
    height: 1.5rem;
}

.sb_blockFighter img:hover {
    background-color: rgba(33, 110, 145, 0.945)
}

.sb_swipe {
    flex-grow: 1;
    border: 1px solid green;
    height: 5w;
    display: flex;
    flex-flow: row nowrap;
    padding: 1.8rem;
    background: rgb(14, 28, 31);
    background: -moz-linear-gradient(360deg, rgba(14, 28, 31, 1) 13%, rgba(20, 37, 41, 1) 53%, rgba(29, 50, 55, 1) 81%);
    background: -webkit-linear-gradient(360deg, rgba(14, 28, 31, 1) 13%, rgba(20, 37, 41, 1) 53%, rgba(29, 50, 55, 1) 81%);
    background: linear-gradient(360deg, rgba(14, 28, 31, 1) 13%, rgba(20, 37, 41, 1) 53%, rgba(29, 50, 55, 1) 81%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0e1c1f", endColorstr="#1d3237", GradientType=1);
    border-top: 1px solid gray;
}

.sb_swipe button {
    margin: 0 .5rem;
    border-radius: 4px;
    border: 1px solid rgb(0, 15, 61);
    height: 2rem;
    width: 5rem;
    z-index: 100;
}

.sb_swipe button:nth-child(1) {
    right: 9rem;
}

.sb_fighters__conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(128, 128, 128, 0.404);
    justify-content: space-between;
}