.newsConteiner{
    margin-top: 4rem;
}

.theNews_conteiner{
    background-color: rgba(41, 26, 54, 0.7);
    text-combine-upright: ellipsis;
    overflow: hidden;
    height: 15rem;
    margin: 1rem 1rem;
}

.theNews{
    margin: 1.5rem 0;
}

.theNews img{
    float: left;
    padding-left: 1rem ;
    height: 15rem;
    border-radius: 2.5rem 0 0 2.5rem;
}

.theNews_dateTime{
    color:grey;
}

.theNews p{
    font-size: 1rem;
}

.theNews_conteiner h2{
    text-combine-upright: ellipsis;
    overflow: hidden;
    background-color: rgba(41, 26, 54, 0.25);
    font-weight: 900;
    font-size: 1.7rem;
}
.theNews_conteiner h3{
    background: linear-gradient(90deg, rgba(145,43,43,0.7988329120710784) 4%, rgba(105,9,9,1) 100%);
    font-family: fantasy;
    text-align: right;
    padding: .3rem .5rem;
}

.theNews_conteiner h3:hover{
    color: rgb(245, 223, 195);
    text-shadow: 2px -2px 2px gold;
    cursor: pointer;
}